{% extends 'instagram/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            
                            <h5>{{ user.profile.name }}</h5>
                            <p class="text-secondary">{{ user.profile.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-sm" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <a class="D-block mx-auto" href="">Change Password</a>
                        <hr>
                        <a class="D-block mx-auto" href="{% url 'logout' %}">Log Out</a>
                        <hr>
                        <a class="D-block mx-auto" href="" data-dismiss="modal">Close</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ user_form|crispy}}
                        {{ prof_form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="card-columns">
        {% for image in images %}
            <div class="card">
                <div class="card-body">
                    <img src="{{image.image.url}}" alt="{{image.caption}}" class="card-img">
                    <p id="overlay"class="text"> 
                            <i class="fas fa-heart" style="color:white; font-size: 18"></i> 
                            <span style="color: white">{{image.likes.count}}</span>
                             <i class="fas fa-comment ml-4" style="color: white"></i> <span style="color: white">{{image.comments.count}}</span></p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}